<header class="bg-red-600">
	<nav class="h-14 flex items-center justify-between bg-inherit">
		<div class="logo gap-4 px-20 text-white font-extrabold text-3xl">
			<a href="/" class="cursor-pointer">KBS</a>
		</div>
		<ul class="text-white flex items-center justify-evenly">
			<li class="px-5">
				<a
					href="/"
					class="border-b-2 border-red-600 hover:border-white hover:text-white"
					>Home</a
				>
			</li>
			<li class="px-5">
				<a
					href="/items"
					class="border-b-2 border-red-600 hover:border-white hover:text-white"
					>Items</a
				>
			</li>
			<li class="px-5">
				<a
					href="/about"
					class="border-b-2 border-red-600 hover:border-white hover:text-white"
					>About Us</a
				>
			</li>
			<li class="px-5">
				<a
					href="/contact-us"
					class="border-b-2 border-red-600 hover:border-white hover:text-white"
					>Contact Us</a
				>
			</li>
			<li class="px-5">
				<a
					href="/auth"
					class="border-b-2 border-red-600 hover:border-white hover:text-white"
					>Login/Signup</a
				>
			</li>
		</ul>
	</nav>
</header>
