<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../src/output.css" />
		<title>About | Kashmir Bakery</title>
	</head>
	<body class="bg-slate-600 text-white">
		<!-- Header  -->
		<%- include('../partials/header') %>
		<main>
			<!-- Section 1 -->
			<%- include('../partials/section', {
				color: "text-red-600",
				bgColor: "bg-white",
				headingContent: "Login / Signup",
				subHeadingTextSize: "text-4xl",
				subHeadingContent: "Login or Signup to view your orders."
			}) %>
		</main>
		<!-- Footer  -->
		<%- include('../partials/footer') %>
	</body>
</html>
